body{
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100vh;
   
}

.bgcolor {
    background-color: #FADD55;
    padding: 15px;
    font-size: 1.5rem;
 
}

.container {
    
    color: black;
    
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
 }

.sub-container-1{
    
    display: grid;
    grid-template-rows: 20% 60% 20%;
    gap: 20px;
   
}

.sub-container-2 {

    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;

}